@import "tailwindcss";

body {
  background-color: #FDFDFD;
}

.hero {
  background-image: url(assets/imagens/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.destino {
  background-image: url(assets/imagens/aviao-destino.png);
  background-repeat: no-repeat;
  background-position: right top 10px;
  background-size: 330px;
}

.depoimento {
  background-image: url(assets/imagens/aspas.png);
  background-repeat: no-repeat;
  background-position: right top 14px;
  background-size: 180px;
}

.contato {
  background-image: url(assets/imagens/mapa.png);
  background-repeat: no-repeat;
  color: #153130;
}

@media (max-width: 768px) {
  .destino {
    background-image: none;
  }
}